<img src="https://decryptor.b-cdn.net/no-access.png" alt="No access" class="size-24" />
<div class="flex flex-col items-center justify-center gap-2">
  <h1 class="text-3xl font-bold">Не авторизован!</h1>
  <p class="text-center text-sm text-gray-600">
    Ссылка недействительна или устарела.<br />Авторизуйся через команду
    <code
      class="inline-block rounded-lg border border-lime-500/50 bg-lime-500/10 px-1.5 text-lime-700"
    >
      /login
    </code>
    в боте.
  </p>
</div>

<footer>
  <a
    href=""
    class="flex items-center rounded-lg bg-blue-700 px-4 py-2 text-sm font-semibold text-white"
  >
    Полетели в Бота
  </a>
</footer>
