[data-slot='button'] {
  @apply cursor-pointer;
}

.ui-button {
  @apply relative;
  @apply flex cursor-pointer items-center justify-center;
  @apply transition-all duration-75 ease-in-out;
  @apply text-center font-secondary outline-none;
  @apply whitespace-nowrap select-none;
}

.ui-button:active {
  @apply translate-y-0.75;
}
.ui-button:disabled {
  @apply cursor-default;
}

/* Variants */

/* Primary */
.ui-button--variant-primary {
  @apply bg-gray-700;
  @apply text-white;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.9);
}

.ui-button--variant-primary:active {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.9);
}
.ui-button--variant-primary:not(:disabled):hover {
  @apply border-white/40;
}
.ui-button--variant-primary:disabled {
  @apply opacity-65;
}

/* Secondary */
.ui-button--variant-secondary {
  @apply bg-blue-500 hover:bg-blue-700;
  @apply text-white;
  @apply gap-2;
  box-shadow: 0 4px 0 0 #1447e6;
}
.ui-button--variant-secondary:active {
  box-shadow: 0 1px 0 0 #1447e6;
}
.ui-button--variant-secondary:disabled {
  @apply bg-gray-700;
  @apply border-gray-700;
  @apply text-white/40;
}

/* Sizes */
.ui-button--size-sm {
  @apply font-semibold;
  @apply text-xs;
  @apply px-3;
  @apply h-7;
  @apply rounded-md;
}

.ui-button--size-md {
  @apply font-bold;
  @apply text-xs;
  @apply px-5;
  @apply h-8;
  @apply rounded-lg;
}

.ui-button--size-lg {
  @apply font-bold;
  @apply text-sm;
  @apply px-6;
  @apply h-10;
  @apply rounded-xl;
}
